*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.iml
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.idea/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/sp-demo-web/logs/
/sp-demo-web/logs-archive/
/logs/
/logs-archive/
/sp-demo-impl/logs-archive/
/sp-demo-impl/logs/
